/*
 * Override Bootstrap's default container.
 */

#body404 {
    background-color: #EEEEEE;
}

.page404 {
    width: 455px;
    height: 544px;
    margin: 100px auto 0 auto;
    background-image: url("#{resource['images/404.jpg']}");
    background-repeat: no-repeat;
}