/*
 * Override Bootstrap's default container.
 */
@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

#body404 {
    background-color: #EEEEEE;
}

.page404 {
    width: 455px;
    height: 544px;
    margin: 100px auto 0 auto;
    background-image: url("#{resource['images/404.jpg']}");
    background-repeat: no-repeat;
}

body {
    background: #EEEEEE; !important;
}

.row {
    margin-top: 50px;
}

/*
 * Masthead for nav
 */

.jomian-masthead {
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
    box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
}

.admin-masthead {
    background-color: #ca2e33;
    -webkit-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
    box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
}

/* Nav links */
.nav-item {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 500;
    color: #cdddeb;
}

.nav-item-right {
    float: right;
}

.jomian-main {

}

.nav-item:hover,
.nav-item:focus {
    color: #fff;
    text-decoration: none;
}

.blog-header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.jomian-title {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: normal;
}

.jomian-description {
    font-size: 20px;
    color: #999;
}

.table {
    border-collapse: collapse;
}

.table>tbody>tr>td {
    vertical-align: middle;
}

.tableHeader {
    text-align: left;
    vertical-align: middle;
    background: none repeat scroll 0 0 #428bca;
    border-bottom: 1px solid #000000;
    color: white;
    padding: 4px;
}

.tableOddRow {
    text-align: left;
    background-color: #FFFFFF;
}

.tableEvenRow {
    text-align: left;
    background-color: #D3D3D3;
}

.column75 {
    width: 75px;
}

.column100 {
    width: 100px;
}

.column200 {
    width: 200px;
}

.column250 {
    width: 250px;
}

.topic {
    background: #428bca;
    color: white;
    font-size: 2em;
    padding: 0.1em 0.3em;
    width: 600px;
}

.message {
    color: red;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

/* Links inside the dropdown */
.dropdown-link {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.forms {
    background-color: white;
    border-spacing: 10px;
}

.forms>*>tr,
.forms>*>tr>td.ui-panelgrid-cell{
    padding: 5px;
    border: none;
    background-color: white;
}

.links {
    text-decoration: underline;
}

.links:hover {
    color: blue;
}

.ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
    color: #333333;
    background: #eeffff;
}
